.app {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 100px;
    row-gap: 100px;
    margin-top: 200px;
}

@media (min-width: 750px) {
    .app {
        margin-top: 180px;
    }
}
